In [ ]:
num = int(input('숫자를 입력하세요. : '))


def isPrime(num):
    
    if num < 2:
        return False
    else:
        count = 0
        for i in range(1, num+1):
            if num % i == 0:
                count += 1
        if count == 2:
            return True
        else:
            return False

isPrime(num)

In [ ]:
num = int(input('숫자를 입력하세요. : '))

def numberOfPrime(num):
    
    if num < 0:
        print('숫자를 다시 입력하세요.(양수)')
    else:
        count_i = 0
        for i in range(1, num+1):
            count_j = 0
            for j in range(1, i+1):
                if i % j == 0:
                    count_j += 1
            if count_j == 2:
                count_i += 1
        return count_i

numberOfPrime(num)

In [ ]:
money = True
if money:
    print('택시를 타고 가라')
else:
    print('걸어 가라')

In [ ]:
money = True
if money:
    print('택시를')
    print('타고')

In [ ]:
money = True
if money:
    print(money)

In [ ]:
x = 3
y = 2
x > y

In [ ]:
money = 2000
if money >= 3000:
    print('택시를 타고 가라')
else:
    print('걸어가라')

In [ ]:
money = 2000
card = True
if money >= 3000 or card:
    print('택시를 타고 가라')
else:
    print('걸어가라')

In [ ]:
money = 2000
card = True
if money >= 3000 and card:
    print('택시를 타고 가라')
else:
    print('걸어가라')

In [ ]:
1 in [1, 2, 3]

In [ ]:
1 not in [1, 2, 3]

In [ ]:
'a' in ['a', 'b', 'c']

In [ ]:
'a' not in ['a', 'b', 'c']

In [ ]:
'j' in 'python'

In [ ]:
't' in 'python'

In [ ]:
pocket = ['paper', 'cellphone', 'money']
if 'money' in pocket:
    print('택시를 타고 가라')
else:
    print('걸어가라')

In [ ]:
pocket = ['paper', 'cellphone', 'money']
if 'money' in pocket:
    pass
else:
    print('카드를 꺼내라')

In [ ]:
pocket = ['paper', 'handphone']
card = True
if 'money' in pocket:
    print('택시를 타고 가라')
else:
    if card:
        print('택시를 타고 가라')
    else:
        print('걸어가라')

In [ ]:
pocket = ['paper', 'handphone']
card = True
if 'money' in pocket:
    print('택시를 타고 가라')
elif card:
    print('택시를 타고 가라')
else:
    print('걸어가라')

In [ ]:
pocket = ['paper', 'money', 'cellphone']
if 'money' in pocket: pass
else: print('카드를 꺼내라')

In [ ]:
fhand = open('test.txt')
print(fhand)

In [ ]:
fhand = open('test.txt')
for line in fhand:
    line = line.rstrip()
    print(line)

In [ ]:
fhand = open('test.txt')
for line in fhand:
    count = 0
    line = line.rstrip()
    if line.find('G') == -1:
        count += 1
        continue
    print(line)
    print(count)

In [ ]:
f = open('새파일.txt', 'w')
f.close()

In [ ]:
f = open('새파일.txt', 'w')
for i in range(1, 11):
    data = '%d번재 줄입니다.\n' % i
    f.write(data)
f.close()

In [ ]:
f = open('새파일.txt', 'r')
print(f)

In [ ]:
f = open('새파일.txt', 'r')
f.readline()

In [ ]:
f.readlines()

In [ ]:
f.readlines()

In [ ]:
f = open('새파일.txt', 'w')
for i in range(1, 11):
    data = "%d번째 줄입니다.\n" % i
    print(data)

In [ ]:
f = open('새파일.txt', 'w')
for i in range(1, 11):
    data = "%d번째 줄입니다.\n" % i
    f.write(data)
f.close()

In [ ]:
f = open('새파일.txt', 'r')
line = f.readline()
print(line)
f.close()

In [ ]:
f = open('새파일.txt', 'r')
line = f.readline()
print(line)
f.close()

In [ ]:
f = open('새파일.txt', 'r')
line = f.readlines()
print(line)
f.close()

In [ ]:
f = open('새파일.txt', 'a')
for i in range(11, 20):
    data = '%d번째 줄입니다.\n' % i
    f.write(data)
f.close()

In [ ]:
f = open('foo.txt', 'w')
f.write('Life is too short, you need python')
f.close()

In [ ]:
with open('foo.txt', 'w') as f:
    f.write('Life is too short, you need python!')

In [ ]:
import sys

args = sys.argv[1:]
for i in args:
    print(i)

In [ ]:
fhand = open('hello.txt', 'w')
fhand.write(' ')
fhand.close()

In [ ]:
stuff1 = 'Hello World!'
print(stuff1)
print(len(stuff1))
stuff2 = 'Hello\nWorld!'
print(stuff2)
print(len(stuff2))

In [ ]:
fhand = open('hamlet.txt')

for line in fhand:
    print(line)

In [ ]:
t = ['a', 'b', 'c']
del t[1]
print(t)

In [ ]:
t = ['a', 'b', 'c']
t.remove('b')
print(t)

In [ ]:
t = ['a', 'b', 'c']
t.pop()
print(t)

In [ ]:
t = ['a', 'b', 'c']
t.append(['d', 'e'])
print(t)

In [ ]:
a = b = 'banana'
print(a)
print(b)
print(id(a))
print(id(b))

a = 'apple'

print(a)
print(b)
print(id(a))
print(id(b))

In [ ]:
a = -5
b = -5
a is b

In [ ]:
a = 256
b = 256
a is b

In [ ]:
list1 = [1, 2, 3, 4, 5]
list2 = ['a', 'b', 'c']
list3 = [1, 'a', 'abc', [1, 2, 3]]
print(list1)
print(list2)
print(list3)

In [ ]:
print(len(list1))
print(len(list2))
print(len(list3))

In [ ]:
print(len(list3[3]))

In [ ]:
animals = ['aardvark', 'anteater', 'antelope', 'albert']
'antelope' in animals

In [ ]:
s1 = ['red', 'yellow', 'green', 'blue']
'red' in s1

In [ ]:
'black' not in s1

In [ ]:
'black' in s1

In [ ]:
import random as rd

numbers = []
for num in range(0, 10):
    numbers.append(rd.randrange(0, 10))

print('생성된 리스트', numbers)

In [ ]:
import random as rd

numbers = []
for num in range(0, 10):
    numbers.append(rd.randrange(0, 10))

print('생성된 리스트', numbers)

for num in range(1, 10):
    if num not in numbers:
        print('숫자 %d는(은) 리스트에 없네요.' % num)

In [ ]:
import time

print('You approach the cave...')
time.sleep(2)
print('choose...')

In [ ]:
a = (1, 3, 2)
x = sorted(a)
print(x)

In [ ]:
import random
import time

# 단어 리스트 : 여기에 단어를 추가하면 문제가 나옴

w = ['cat', 'dog', 'fox', 'monkey', 'mouse', 'mouse', 'panda', 'frog', 'snake', 'wolf']

print('[타자게임] 준비되면 엔터!')
input()

n = 1
start = time.time()
q = random.choice(w)
while n <= 5:
    print('*문제', n)
    print(q)
    x = input()
    if q == x:
        print('통과!')
        n = n + 1
        q = random.choice(w)
    else:
        print('오타! 다시 도전!')

end = time.time()
et = end - start
et = format(et, ' .2f')
print('타자시간 :', et, '초')

In [ ]:
import time

input('엔터를 누르고 5초를 셉니다.')
start = time.time()
input('5초 후에 다시 엔터를 누릅니다.')
end = time.time()
et = end - start
print('실제 시간 :', et, '초')
print('차이:', abs(et-5), '초')

In [ ]:
a = [1, 2, 3]
a.pop()
print(a)

In [ ]:
a = [1, 2, 3]
a.append('a')
print(a)

In [ ]:
a = []
a.append(1)
a.append(2)
a.append(3)
print(a)
a.append(4)
print(a)

In [ ]:
pip install jupyterthemes

In [ ]:
jt -l onedork

In [ ]:
def printStar():
    cnt = 0
    while cnt < 7:
        cnt = cnt + 1
        print('*' * cnt)

printStar()

In [ ]:
def sayHello(name):
    print('Hello.' + name)
    print('Nice to meet you')

sayHello('Bob')
sayHello('Alice')
sayHello('chaewon')
sayHello('saehee')

In [ ]:
def func1(numA, numB):
    tot = numA + numB
    tot = tot + 100
    return tot

tot = func1(2, 3)
print('result :', tot)

In [ ]:
n = 100

def isPrime(a):
    if a < 2:
        return False
    for i in range(2, a):
        if (a%i == 0):
            return False
    return True

for i in range(n+1):
    if(isPrime(i)):
        print(i)

In [ ]:
import builtins
dir(builtins)

In [ ]:
a = 2
print(a)

In [ ]:
def is_prime_number(x):
    for i in range(2, x):
        if x % i == 0:
            return False
    return True

print(is_prime_number(7))

In [ ]:
def su(a, b):
    return a + b
    c = 2
    d = 3
    print(c + d)
    return(c + d)
su(1, 1)

In [ ]:
print('주문하실 음료를 말씀하세요.')
noA = int(input('아메리카노 개수(잔) : '))
noL = int(input('카페라떼 개수(잔) : '))
noC = int(input('카푸치노 개수(잔) : '))

total = 0

total += noA * 2500
total += noL * 3000
total += noC * 3000

print('총 가격은 %d원 입니다.' % (total))
pay = int(input('가격을 입력하세요. : '))

if pay >= total:
    print('거스름돈은 %d원 입니다.' %(pay - total))
else:
    print('금액이 부족합니다.')

In [ ]:
blist = ['아메리카노', '카페라테', '카푸치노', '오렌지주스', '콜라', '자몽주스']
plist = [2500, 3000, 3000, 4000, 1500, 4000]

no = 0
user = []
total = 0

while no < len(blist):
    user.append(int(input(blist[no] + '의 개수(잔) : ')))
    no += 1

for i in range(0, len(plist)):
    total = plist[i] * user[i]

print('총 금액은 %d 원 입니다.' % total)

pay = int(input('가격을 입력하세요. : '))

if pay >= total:
    print('거스름돈은 %d원 입니다.' %(pay - total))
else:
    print('금액이 부족합니다.')

In [ ]:
import random

rd = random.randint(1, 30)
count = 0

while count < 5:
    user = int(input('숫자를 입력하세요. (1 ~ 30) : '))
    if rd == user:
        print('정답입니다!')
        break
    elif user > rd:
        print('추측한 숫자가 너무 큽니다.')
    else:
        print('추측한 숫자가 너무 작습니다.')
    count += 1

In [ ]:
import random

ansNumber = random.randint(1, 30)
liCount = 1
biCount = 1

for i in range(1, 31, 1):
    if i == ansNumber:
        liCount = i
        break

biStart = 1
biEnd = 30
mid = (biStart + biEnd) // 2
while True:
    if mid == ansNumber:
        break
    elif mid < ansNumber:
        biStart = mid + 1
    else:
        biEnd = mid - 1
    
    mid = (biStart + biEnd) // 2
    biCount = biCount + 1

print('가진 수 :', ansNumber)
print('선형탐색횟수 :', liCount)
print('이진탐색횟수 :', biCount)

In [ ]:
import random
import time

correctAns = 0
wrongAns = 0
timeout = 3
previousProducts = []

count = int(input('몇번할까요?'))
while count != 0:
    a = random.randint(3, 9)
    b = random.randint(3, 9)
    if a == 5 or b == 5 or a*b in previousProducts:
        continue
    
    count = count - 1
    print('%d X %d?' %(a, b))
    startTime = time.time()
    product = int(input())
    endTime = time.time()
    print('%.1f초만에 답을 했어요.' %(endTime - startTime))
    
    if product == a*b and timeout > endTime - startTime:
        correctAns = correctAns + 1
        print('맞았습니다.\n')
    else:
        wrongAns = wrongAns + 1
        print('다시 도전해보세요.\n')
    
    previousProducts.append(product)
    print(previousProducts)

print('%d번 중 %d번 맞았어요.' % (correctAns + wrongAns, correctAns))

In [ ]:
for i in range(2):
    print(i)

In [ ]:
def sumandavg(a, b, c):
    print('합 =', a+b+c)
    print('평균 = %.1d' % ((a+b+c)/3))

a1 = 50
a2 = 60
a3 = 80
sumandavg(a1, a2, a3)
sumandavg(a1, a2, a3)

In [ ]:
def avg(a, b):
    return ((a + b) / 2)

def sum(a, b):
    return a + b

a = 50
b = 60
print('합 =', sum(a, b))
print('평균 =', sum(a, b) / 2)
print('평균 =', avg(a, b))
print(a)
print(b)

In [ ]:
def sumandavg(a, b):
    sum = a + b
    avg = (a+b) / 2
    return avg, sum

In [ ]:
a1 = 50
b1 = 60
avg1, sum1 = sumandavg(a1, b1)
print('합 =', sum1)
print('평균 =', avg1)

a2 = 70
b2 = 80

avg2, sum2 = sumandavg(a2, b2)

print('합 =', sum2)
print('평균 =', avg2)

In [ ]:
print('a  a    ', '    b  b', sep = ('#############'))

In [ ]:
class Student:
    pass

student1 = Student()
student1.name = 'Kim'
student1.no = '2019-123456'

student2 = Student()
student2.name = 'Hong Gil Dong'
student2.no = '2019-123458'

print('학생이름 =', student1.name)
print('학번 =', student1.no)
print('학생이름 =', student2.name)
print('학번 =', student2.no)

In [101]:
import pandas as pd # 판다스를 불러옴
import numpy as np # 넘파이를 불러옴
import matplotlib.pyplot as plt # 메트플롯을 불러옴

file_path = './chipotle.csv' # Raw data 파일 경로

chipo = pd.read_csv(file_path) # chipo = pd.read_csv(file_path)
                               # (변수) = (판다스로 읽고(파일경로))
print(type(chipo)) # print(type(chipo))
chipo # chipo

<class 'pandas.core.frame.DataFrame'>

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [102]:
tmp_arr = chipo['item_price'].unique()
len(tmp_arr)
tmp_arr

array(['$2.39 ', '$3.39 ', '$16.98 ', '$10.98 ', '$1.69 ', '$11.75 ',
       '$9.25 ', '$4.45 ', '$8.75 ', '$11.25 ', '$8.49 ', '$2.18 ',
       '$8.99 ', '$1.09 ', '$2.95 ', '$2.15 ', '$3.99 ', '$22.50 ',
       '$11.48 ', '$17.98 ', '$17.50 ', '$4.30 ', '$5.90 ', '$1.25 ',
       '$23.78 ', '$6.49 ', '$11.08 ', '$1.50 ', '$22.16 ', '$32.94 ',
       '$22.20 ', '$10.58 ', '$2.50 ', '$23.50 ', '$7.40 ', '$18.50 ',
       '$3.00 ', '$6.78 ', '$11.89 ', '$9.39 ', '$4.00 ', '$3.75 ',
       '$8.69 ', '$2.29 ', '$8.90 ', '$3.27 ', '$3.89 ', '$8.19 ',
       '$35.00 ', '$27.75 ', '$11.80 ', '$6.00 ', '$26.25 ', '$21.96 ',
       '$4.36 ', '$7.50 ', '$4.78 ', '$13.35 ', '$6.45 ', '$5.07 ',
       '$22.96 ', '$7.17 ', '$7.98 ', '$4.50 ', '$26.07 ', '$12.98 ',
       '$35.25 ', '$44.25 ', '$10.50 ', '$33.75 ', '$16.38 ', '$13.52 ',
       '$5.00 ', '$15.00 ', '$8.50 ', '$17.80 ', '$1.99 ', '$11.49 '],
      dtype=object)

In [103]:
chipo['item_price'] = chipo['item_price'].str.lstrip('$')
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [104]:
tmp_arr = chipo['item_price'].unique()
len(tmp_arr)
tmp_arr

array(['2.39 ', '3.39 ', '16.98 ', '10.98 ', '1.69 ', '11.75 ', '9.25 ',
       '4.45 ', '8.75 ', '11.25 ', '8.49 ', '2.18 ', '8.99 ', '1.09 ',
       '2.95 ', '2.15 ', '3.99 ', '22.50 ', '11.48 ', '17.98 ', '17.50 ',
       '4.30 ', '5.90 ', '1.25 ', '23.78 ', '6.49 ', '11.08 ', '1.50 ',
       '22.16 ', '32.94 ', '22.20 ', '10.58 ', '2.50 ', '23.50 ', '7.40 ',
       '18.50 ', '3.00 ', '6.78 ', '11.89 ', '9.39 ', '4.00 ', '3.75 ',
       '8.69 ', '2.29 ', '8.90 ', '3.27 ', '3.89 ', '8.19 ', '35.00 ',
       '27.75 ', '11.80 ', '6.00 ', '26.25 ', '21.96 ', '4.36 ', '7.50 ',
       '4.78 ', '13.35 ', '6.45 ', '5.07 ', '22.96 ', '7.17 ', '7.98 ',
       '4.50 ', '26.07 ', '12.98 ', '35.25 ', '44.25 ', '10.50 ',
       '33.75 ', '16.38 ', '13.52 ', '5.00 ', '15.00 ', '8.50 ', '17.80 ',
       '1.99 ', '11.49 '], dtype=object)

In [105]:
tmp_arr = chipo['item_name'].unique()
len(tmp_arr)
tmp_arr

array(['Chips and Fresh Tomato Salsa', 'Izze', 'Nantucket Nectar',
       'Chips and Tomatillo-Green Chili Salsa', 'Chicken Bowl',
       'Side of Chips', 'Steak Burrito', 'Steak Soft Tacos',
       'Chips and Guacamole', 'Chicken Crispy Tacos',
       'Chicken Soft Tacos', 'Chicken Burrito', 'Canned Soda',
       'Barbacoa Burrito', 'Carnitas Burrito', 'Carnitas Bowl',
       'Bottled Water', 'Chips and Tomatillo Green Chili Salsa',
       'Barbacoa Bowl', 'Chips', 'Chicken Salad Bowl', 'Steak Bowl',
       'Barbacoa Soft Tacos', 'Veggie Burrito', 'Veggie Bowl',
       'Steak Crispy Tacos', 'Chips and Tomatillo Red Chili Salsa',
       'Barbacoa Crispy Tacos', 'Veggie Salad Bowl',
       'Chips and Roasted Chili-Corn Salsa',
       'Chips and Roasted Chili Corn Salsa', 'Carnitas Soft Tacos',
       'Chicken Salad', 'Canned Soft Drink', 'Steak Salad Bowl',
       '6 Pack Soft Drink', 'Chips and Tomatillo-Red Chili Salsa', 'Bowl',
       'Burrito', 'Crispy Tacos', 'Carnitas Crispy Tacos', 'Steak Salad',
       'Chips and Mild Fresh Tomato Salsa', 'Veggie Soft Tacos',
       'Carnitas Salad Bowl', 'Barbacoa Salad Bowl', 'Salad',
       'Veggie Crispy Tacos', 'Veggie Salad', 'Carnitas Salad'],
      dtype=object)

In [ ]:
chipo['item_price'] = chipo['item_price'].str.lstrip('$')
chipo['item_price'].astype(float)
chipo

In [100]:
chipo_cost = chipo.groupby('item_name')['item_price'].mean()
chipo_cost.sort_values(ascending=False)

DataError: No numeric types to aggregate

In [ ]:
def print_reverse(sts):
    return sts[::-1]

print_reverse('python')

In [ ]:
def print_score(a):
    total = 0
    for i in a:
        total += i
    return total/len(a)

print_score([1, 2, 3])

In [ ]:
def print_even(n):
    a = []
    for i in n:
        if i % 2 == 0:
            a.append(i)
    return a

print_even([1, 3, 2, 10, 12, 11, 15])

In [ ]:
def print_keys(n):
    for i in n:
        print(i)
        
print_keys({'이름' : '김말똥', '나이' : 30, '성별' : 0})

In [ ]:
my_dict = {'10/26' : [100, 130, 100, 100], '10/27' : [10, 12, 10, 11]}

def print_value_by_key(a, b):
    return a[b]

print_value_by_key(my_dict, '10/26')

In [ ]:

def print_5xn(string):
    if len(string) >= 5:
        for i in range(len(string)):
            print(string[i], end = '')
            if i !=0 and i % 5 == 0 :
                print('\n')
    else:
        print(string)

print_5xn('아이엠어보이유알어걸')

##### a = [1, 2, 2]

print(len(a))
type(len(a))

In [ ]:
import datetime

now = datetime.datetime.now()

print(now)

In [ ]:
print(datetime.datetime.now())

In [ ]:
now = datetime.datetime.now()
print(now, type(now))

In [ ]:
import datetime

now = datetime.datetime.now()

for day in range(5, 0, -1):
    delta = datetime.timedelta(days = day)
    date = now - delta
    print(date)

In [ ]:
import datetime

now = datetime.datetime.now()
print(now.strftime("%H:%M:%S"))

In [ ]:
import datetime

day = '2020-05-04'
ret = datetime.datetime.strptime(day, '%Y-%m-%d')
print(ret, type(ret))

print(day, type(day))

In [ ]:
import time
import datetime

while True:
    now = datetime.datetime.now()
    print(now)
    time.sleep(1)

In [1]:
import os

ret = os.getcwd()
print(ret, type(ret))

c:\pyCode <class 'str'>

In [7]:
import numpy as np

for i in np.arange(0, 5, 0.1):
    print('%.1f' % i)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9
1.0
1.1
1.2
1.3
1.4
1.5
1.6
1.7
1.8
1.9
2.0
2.1
2.2
2.3
2.4
2.5
2.6
2.7
2.8
2.9
3.0
3.1
3.2
3.3
3.4
3.5
3.6
3.7
3.8
3.9
4.0
4.1
4.2
4.3
4.4
4.5
4.6
4.7
4.8
4.9

In [8]:
과일 = ['사과', '귤', '수박']
for 변수 in 과일:
    print(변수)

사과
귤
수박

In [10]:
과일 = ['사과', '귤', '수박']
for 변수 in 과일:
    print('#####')

#####
#####
#####

In [11]:
과일 = ['사과', '귤', '수박']
for 변수 in 과일:
    print('####')

####
####
####

In [12]:
for 변수 in ['A', 'B', 'C']:
    print(변수)

A
B
C

In [13]:
for 변수 in ['A', 'B', 'C']:
    print('출력 :', 변수)

출력 : A
출력 : B
출력 : C

In [14]:
for 변수 in ['A', 'B', 'C']:
    b = 변수.lower()
    print('변환 :', b)

변환 : a
변환 : b
변환 : c

In [15]:
for i in [10, 20, 30]:
    print(i)

10
20
30

In [16]:
for i in [10, 20, 30]:
    print(i)

10
20
30

In [17]:
for i in [10, 20, 30]:
    print(i)
    print('-' * 8)

10
--------
20
--------
30
--------

In [18]:
print('+' * 5)
for i in [10, 20, 30]:
    print(i)

+++++
10
20
30

In [19]:
for i in range(4):
    print('-' * 8)

--------
--------
--------
--------

In [20]:
list = [100, 200, 300]

for i in list:
    print(i + 10)

110
210
310

In [21]:
list = ['김밥', '라면', '튀김']

for i in list:
    print('오늘의 메뉴 :', i)

오늘의 메뉴 : 김밥
오늘의 메뉴 : 라면
오늘의 메뉴 : 튀김

In [23]:
list = ['SK하이닉스', '삼성전자', 'LG전자']

for i in list:
    print(len(i))

6
4
4

In [24]:
list = ['dog', 'cat', 'parrot']

for i in list:
    print(i, len(i))

dog 3
cat 3
parrot 6

In [25]:
list = ['dog', 'cat', 'parrot']

for i in list:
    print(i[0])

d
c
p

In [29]:
list = [1, 2, 3]

for i in list:
    print('3 x', i)

3 x 1
3 x 2
3 x 3

In [30]:
list = [1, 2, 3]

for i in list:
    print('3 x', i)

3 x 1
3 x 2
3 x 3

In [35]:
list = ['가', '나', '다', '라']

for i in range(1, len(list)):
    print(list[i])

나
다
라

In [36]:
list = ['가', '나', '다', '라']

for i in range(0, len(list), 2):
    print(list[i])

가
다

In [40]:
list = ['가', '나', '다', '라']

for i in range(len(list)-1, -1, -1):
    print(list[i])

라
다
나
가

In [41]:
list = [3, -20, -3, 44]

for i in list:
    if i < 0:
        print(i)

-20
-3

In [42]:
list = [3, 100, 23, 44]

for i in list:
    if i % 3 == 0:
        print(i)

3

In [43]:
list = [13, 21, 12, 14, 30, 18]

for i in list:
    if i < 20 and i % 3 == 0:
        print(i)

12
18

In [44]:
list = ['I', 'study', 'python', 'language', '!']

for i in list:
    if len(i) >= 3:
        print(i)

study
python
language

In [46]:
list = ['A', 'b', 'c', 'D']

for i in list:
    if i.isupper() == True:
        print(i)

A
D

In [50]:
list = ['A', 'b', 'c', 'D']

for i in list:
    if i.islower() == True:
        print(i)

b
c

In [51]:
list = ['dog', 'cat', 'parrot']

for i in list:
    print(i.capitalize())

Dog
Cat
Parrot

In [55]:
list = ['hello.py', 'ex01.py', 'intro.hwp']

for i in list:
    print(i.split('.')[0])

hello
ex01
intro

In [56]:
list = ['intra.h', 'intra.c', 'define.h', 'run.py']

for i in list:
    if i.split('.')[1] == 'h':
        print(i)

intra.h
define.h

In [59]:
list = ['intra.h', 'intra.c', 'define.h', 'run.py']

for i in list:
    if i.split('.')[1] == 'h' or i.split('.')[1] == 'c':
        print(i)

intra.h
intra.c
define.h

In [65]:
f = open('매수종목1.txt', 'w')
f.write('005930\n')
f.write('005380\n')
f.write('035420')
f.close()

In [67]:
f = open('매수종목2.txt', 'w')
f.write('005930 삼성전자\n')
f.write('005380 현대차\n')
f.write('035420 Naver')
f.close()

In [77]:
per = ['10.31', '', '8.00']

for i in per:
    try:
        print(float(i))
    except:
        print(0)

10.31
0
8.0

In [87]:
per = ['10.31', '', '8.00']
new_per = []

for i in per:
    try:
        v = float(i)
    except:
        v = 0
    new_per.append(v)

print(new_per, type(new_per))

[10.31, 0, 8.0] <class 'list'>

In [89]:
f = open('매수종목1.txt', 'r')
result = f.read()
print(result)
f.close()

005930
005380
035420

In [90]:
f = open('매수종목2.txt', 'r')
result = f.read()
print(result)
f.close()

005930 삼성전자
005380 현대차
035420 Naver

In [94]:
with open('매수종목1.txt', 'r') as f:
    
    result = f.read()
    print(result)

005930
005380
035420